[Unit]
Description=Downloads pacman updates in the background without installing them

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'pacman -Syuw --noconfirm ; notify-send updatedl'
