[Unit]
Description=Download pacman updates in the background without installing them

[Timer]
OnBootSec=6h
OnUnitActiveSec=24h

[Install]
WantedBy=timers.target
